header, hgroup, nav, footer, figure, figcaption, aside, section, article {
	display: block;
}

body {
	background-image: url(ptrbackground.jpg); 
	background-color: #00569f; 
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;

}

/*good*/
nav a:visited {
	color: #FFFFFF;
}

/*good*/
h1 {
	margin-bottom: 0;
	padding: 10px;
	color:white; 
}
/*good*/
header { 
	background-image: url(sunset.jpg); 
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center right;
	background-color: #000033;
	
}

/*good*/
h2 {
	color: #3399CC;
	text-indent: 9px;
	margin-block: 10px;
}
/*good*/
h1,
h2 {
	font-family: Georgia, "Times New Roman", serif;
}

#contact {
	font-size: 90%;
}

footer {
	font-family: Georgia, "Times New Roman", serif;
}

#wrapper {
	min-width: 600px; /*minimum width*/
	margin: 0 auto; /*align center*/
	width: 80%; /* */
	background-color:#a4ccdf;
	display: block;
	flex-direction: column;
	padding:0;
}


nav {
	float: left;
	font-size: 1.2em;
	background-color: #a4ccdf;
	width: 200px;
	font-family: Georgia, "Times New Roman", serif;
	font-weight: bold;
	list-style-type: none;
}

#content {
    background: white;
    padding: 20px;
	flex: 100%;
	align-items: flex-end;
	margin-left: 200px;

}

/*good*/
nav ul{
	list-style-type: none;
	padding-right: 10px;
}

/*good*/ 
li a {
  display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}

/*good*/
li a:hover{
  background-color: none;
  color: white;
}

/*good*/
.resort {  
	color:#71759a;
	font-weight: bold;
	font-family: Georgia, "Times New Roman", serif;
}

/*good*/
#content img {
	float: left;  
	padding: 10px;
	height: 270px;
	display: flex;
}

/*good*/
#content ul {
	list-style-image: url(marker.gif); 
	list-style-position: inside;

}

/*good*/
footer {
    font-family: Georgia, "Times New Roman", serif;
    background-color: white;
    font-style: italic;
	text-align: left;     
    padding: 100px 20px 20px 20px;   
    margin: 0; 
	margin-left: 200px;  /
}

/*good*/
footer a{
	padding-left: 0;
	margin-bottom: 20px; 
  	display: inline-block; 
}
